.slider-input-block {
	width: 420px;
	margin: auto;
}


.slider-input-block input{
	width: 62%;
}

.slider-input-text {
	margin-right: 15px;
	width: 15%;
}

.slider-input-value {
	margin-left: 15px;
	width: 15%;
}
